workflowsOdoo survey AI interpreter.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-17T10:20:46.612Z",
  "id": "neHvlt8TJv77v0Mn",
  "isArchived": false,
  "meta": null,
  "name": "Odoo survey AI interpreter",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -540,
        0
      ],
      "id": "6a080097-4137-4021-b542-c361e54e9dde",
      "name": "Webhook",
      "webhookId": "de202deb-be15-469d-9427-7788746fe9f2"
    },
    {
      "parameters": {
        "resource": "custom",
        "operation": "get",
        "options": {}
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ],
      "id": "bdd61808-69a0-47a1-b988-e925baf0964b",
      "name": "Odoo",
      "credentials": {
        "odooApi": {
          "id": "ndIkNgMNvXw943vZ",
          "name": "purple juice"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        120,
        0
      ],
      "id": "3d148ebb-9cba-4a28-b3d2-5a66ec3cd0ce",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "387b392d-37ac-469d-8f07-a1f056ccbdd3",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-17T17:34:43.000Z",
  "versionId": "ae20cbac-ce1d-43df-b5b9-55a0758d0db9"
}