workflowsVolitility Calculator.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "variables_in",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "assets_detail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ethbtc volitility refresh",
            "type": "main",
            "index": 0
          },
          {
            "node": "xrpbtc volitility refresh1",
            "type": "main",
            "index": 0
          },
          {
            "node": "xrpeth volitility refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrderVals": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Postgres6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "loop collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancel_order": {
      "main": [
        [
          {
            "node": "loop collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "place new pair": {
      "main": [
        [
          {
            "node": "loop collector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop collector": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String1": {
      "main": [
        [
          {
            "node": "Crypto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ethbtc volitility refresh1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ethbtc volitility refresh1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancel_order",
            "type": "main",
            "index": 0
          },
          {
            "node": "place new pair",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "place new pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-14T09:38:09.504Z",
  "id": "wPxmsKOIBLEsBRga",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Volitility Calculator",
  "nodes": [
    {
      "parameters": {},
      "id": "7cd96f88-e3fc-4d66-8de8-f929bce1b569",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1920451649,
          "mode": "list",
          "cachedResultName": "Asset Rates @ Close (GBP)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=1920451649"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A6:F"
            }
          }
        }
      },
      "id": "4373158c-46c3-4fce-babb-b7620bcc4eaa",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        180,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ DateTime.fromFormat($json.Date,\"dd/MM/yyyy\") }}",
              "value2": "={{ $today.minus({days:2}) }}"
            }
          ]
        }
      },
      "id": "a6c63bbc-56f3-4a1e-9159-26a660b5792c",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "BTC",
              "type": "numberValue",
              "numberValue": "={{ Math.abs($input.all()[1].json.BTC-$input.all()[0].json.BTC)/$input.all()[0].json.BTC }}"
            },
            {
              "name": "ETH",
              "type": "numberValue",
              "numberValue": "={{ Math.abs($input.all()[1].json.ETH-$input.all()[0].json.ETH)/$input.all()[0].json.ETH }}"
            },
            {
              "name": "XRP",
              "type": "numberValue",
              "numberValue": "={{ Math.abs($input.all()[1].json.XRP-$input.all()[0].json.XRP)/$input.all()[0].json.XRP }}"
            },
            {
              "name": "BNB",
              "stringValue": "={{ Math.abs($input.all()[1].json.BNB-$input.all()[0].json.BNB)/$input.all()[0].json.BNB }}"
            },
            {
              "name": "ETHBTC",
              "type": "numberValue",
              "numberValue": "={{ Math.abs(($input.all()[0].json.ETH/$input.all()[0].json.BTC)-($input.all()[1].json.ETH/$input.all()[1].json.BTC))/(($input.all()[0].json.ETH/$input.all()[0].json.BTC)) }}"
            },
            {
              "name": "XRPBTC",
              "type": "numberValue",
              "numberValue": "={{ Math.abs(($input.all()[0].json.XRP/$input.all()[0].json.BTC)-($input.all()[1].json.XRP/$input.all()[1].json.BTC))/(($input.all()[0].json.XRP/$input.all()[0].json.BTC)) }}"
            },
            {
              "name": "XRPETH",
              "type": "numberValue",
              "numberValue": "={{ Math.abs(($input.all()[0].json.XRP/$input.all()[0].json.ETH)-($input.all()[1].json.XRP/$input.all()[1].json.ETH))/(($input.all()[0].json.XRP/$input.all()[0].json.ETH)) }}"
            },
            {
              "name": "Date",
              "stringValue": "={{ $input.all()[1].json.Date }}"
            },
            {
              "name": "USDT",
              "type": "numberValue",
              "numberValue": "={{ Math.abs($input.all()[1].json.USDT-$input.all()[0].json.USDT)/$input.all()[0].json.USDT }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "ad1dbf5d-e3f8-4223-b0ee-444405600e08",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        580,
        620
      ],
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1074799303,
          "mode": "list",
          "cachedResultName": "Daily Volitility By Asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=1074799303"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Average 30": "={{ $json.Date }}",
            "BTC": "={{ $json.BTC }}",
            "ETH": "={{ $json.ETH }}",
            "XRP": "={{ $json.XRP }}",
            "BNB": "={{ $json.BNB }}",
            "ETHBTC": "={{ $json.ETHBTC }}",
            "XRPBTC": "={{ $json.XRPBTC }}",
            "XRPETH": "={{ $json.XRPETH }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BTC",
              "displayName": "BTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ETH",
              "displayName": "ETH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRP",
              "displayName": "XRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BNB",
              "displayName": "BNB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "USDT",
              "displayName": "USDT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ETHBTC",
              "displayName": "ETHBTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRPBTC",
              "displayName": "XRPBTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRPETH",
              "displayName": "XRPETH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "362485ff-358e-46f8-a287-33c79257f19c",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "command": "=screen -S ethbtc -X stuff \"config ask_spread {{ $json['ETHBTC-spread'] }} \\015 config bid_spread {{ $json['ETHBTC-spread'] }} \\015 config order_amount {{ $('OrderVals').all()[0].json['Trade Val'] }} \\015\" "
      },
      "id": "1c7156d3-b9e7-465d-8b37-ef1419008a2e",
      "name": "ethbtc volitility refresh",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        -420
      ],
      "executeOnce": true,
      "credentials": {
        "sshPassword": {
          "id": "HLlP7P64bLQy2c0D",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "=screen -S xrpbtc -X stuff \"config ask_spread {{ $json['XRPBTC-spread'] }} \\015 config bid_spread {{ $json['XRPBTC-spread'] }} \\015 config order_amount {{ $('OrderVals').all()[2].json['Trade Val'] }} \\015\" "
      },
      "id": "2a7b7076-f614-4417-839a-1d83bfe83203",
      "name": "xrpbtc volitility refresh1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        -220
      ],
      "credentials": {
        "sshPassword": {
          "id": "HLlP7P64bLQy2c0D",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535103209,
          "mode": "list",
          "cachedResultName": "Hourly Volitility By Asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=535103209"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:I8"
            }
          }
        }
      },
      "id": "be77816e-aa3d-4149-be9d-39d82c7bf1fa",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        220,
        -220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Hours Ago'] }}",
              "value2": "Suggested Spread"
            }
          ]
        }
      },
      "id": "af3bc58c-1e38-442c-a257-79d15b65d2d5",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        -220
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ETHBTC-spread",
              "type": "numberValue",
              "numberValue": "={{Math.round(($json.ETHBTC)*100000)/1000 > 0.5 ? Math.round(($json.ETHBTC)*100000)/1000 : 0.5 }}"
            },
            {
              "name": "XRPBTC-spread",
              "type": "numberValue",
              "numberValue": "={{Math.round(($json.XRPBTC)*100000)/1000 > 0.5 ? Math.round(($json.XRPBTC)*100000)/1000 : 0.5 }}"
            },
            {
              "name": "XRPETH-spread",
              "type": "numberValue",
              "numberValue": "={{Math.round(($json.XRPETH)*100000)/1000 > 0.5 ? Math.round(($json.XRPETH)*100000)/1000 : 0.5 }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "392d737b-a359-4f09-bb85-6e5ede81f7a2",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        640,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535103209,
          "mode": "list",
          "cachedResultName": "Hourly Volitility By Asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=535103209"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Hours Ago": "0",
            "ETHBTC": "={{ $('IF').all()[1].json.ETH / $('IF').first().json.BTC  }}",
            "XRPBTC": "={{ $('IF').all()[1].json.XRP / $('IF').first().json.BTC  }}",
            "XRPETH": "={{ $('IF').all()[1].json.XRP / $('IF').first().json.ETH  }}"
          },
          "matchingColumns": [
            "Hours Ago"
          ],
          "schema": [
            {
              "id": "Hours Ago",
              "displayName": "Hours Ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETHBTC",
              "displayName": "ETHBTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRPBTC",
              "displayName": "XRPBTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRPETH",
              "displayName": "XRPETH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "16d9a3bc-2371-4ee2-94e4-baf44b725366",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        1000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535103209,
          "mode": "list",
          "cachedResultName": "Hourly Volitility By Asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=535103209"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A9:D34"
            }
          }
        }
      },
      "id": "f1fb403d-403c-4acb-8424-5eaca3645ec9",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        1180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Hours Ago",
              "type": "numberValue",
              "numberValue": "={{ $json['Hours Ago'] + 1 }}"
            }
          ]
        },
        "include": "selected",
        "includeFields": "ETHBTC,XRPBTC,XRPETH",
        "options": {}
      },
      "id": "c6c3d117-2eab-4672-9764-eb8714bf9963",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        440,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.ETHBTC }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json['Hours Ago'] }}",
              "operation": "smallerEqual",
              "value2": 24
            },
            {
              "value1": "={{ $json['Hours Ago'] }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "ee3324f3-53bd-4b0d-863a-3fffa96c1b0b",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535103209,
          "mode": "list",
          "cachedResultName": "Hourly Volitility By Asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=535103209"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Hours Ago": "={{ $json['Hours Ago'] }}",
            "ETHBTC": "={{ $('IF').first().json.ETH / $('IF').first().json.BTC  }}",
            "XRPBTC": "={{ $('IF').first().json.XRP / $('IF').first().json.BTC  }}",
            "XRPETH": "={{ $('IF').first().json.XRP / $('IF').first().json.ETH  }}"
          },
          "matchingColumns": [
            "Hours Ago"
          ],
          "schema": [
            {
              "id": "Hours Ago",
              "displayName": "Hours Ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ETHBTC",
              "displayName": "ETHBTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRPBTC",
              "displayName": "XRPBTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "XRPETH",
              "displayName": "XRPETH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "4b375511-7589-494f-89bc-929c9911ff6a",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        840,
        1180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "command": "=screen -S xrpeth -X stuff \"config ask_spread {{ $json['XRPETH-spread'] }} \\015 config bid_spread {{ $json['XRPETH-spread'] }} \\015 config order_amount {{ $('OrderVals').all()[2].json['Trade Val'] }} \\015\" "
      },
      "id": "9e7afdb4-cfbf-454d-9301-defcfd1f94b4",
      "name": "xrpeth volitility refresh",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "credentials": {
        "sshPassword": {
          "id": "HLlP7P64bLQy2c0D",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY",
          "mode": "list",
          "cachedResultName": "Bot Performance BTC - ETH - XRP ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860656954,
          "mode": "list",
          "cachedResultName": "eth btc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1feTNyHRLhVJ33PmDjkr5OkkRHk7-YBCD_dfieyLaHKY/edit#gid=1860656954"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "AA2:AA5"
            }
          }
        }
      },
      "id": "c85bf2dd-311e-41b7-ad11-0189452a771e",
      "name": "OrderVals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        200,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MCsNWA7c8RPHz3yK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol,MAX(price),MIN(price), AVG(price) FROM public.exchange_prices WHERE time_hr >= now() - INTERVAL'120m' AND symbol NOT LIKE '%USDT' GROUP BY symbol ORDER BY symbol DESC",
        "options": {}
      },
      "id": "1db56821-e0d3-456f-9f9e-8549d3e7c2e5",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.spot_volitility SET \n  \"max\" = {{ $json.max }},\n  \"min\" = {{ $json.min }},\n  \"average\" = {{ $json.avg }}\nWHERE symbol = '{{ $json.symbol.trim() }}';",
        "options": {}
      },
      "id": "415779ec-d9aa-497f-a507-6248ec5aebf4",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2220,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*, b.\"free\",b.\"locked\" FROM public.spot_volitility a\n  INNER JOIN assets_details b\n  ON a.symbol LIKE b.asset || '%'\nORDER BY symbol ASC;",
        "options": {}
      },
      "id": "30538135-7db1-454d-b552-35693713bb85",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2260,
        660
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7edc00-f0a3-40ab-82d0-e3848498e295",
              "name": "row_number",
              "value": "={{ $json.row_number == 2 ? \"ETH\" : $json.row_number == 3 ? \"BTC\" : \"XRP\"  }}",
              "type": "string"
            },
            {
              "id": "b23bbb75-7736-4fec-b816-c136e1a14a1e",
              "name": "trade_val",
              "value": "={{ Math.round(Number($json['Trade Val'])*10000)/10000 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8a9067f8-861b-42f7-8cc9-a3d89e724942",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.spot_volitility SET\n  order_val =  {{$json.trade_val }}\nWHERE symbol LIKE '{{ $json.row_number }}%'",
        "options": {}
      },
      "id": "83d62466-343f-48a4-9269-75036bc6f8a5",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        600,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.spot_volitility ORDER BY symbol ASC;",
        "options": {}
      },
      "id": "f39cec94-dce0-401a-998b-5222ef6ab3ba",
      "name": "variables_in",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        -460
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest_assets AS (\n    SELECT \"time_hr\", \"BTC\", \"ETH\", \"XRP\"\n    FROM \"assets\"\n    ORDER BY \"time_hr\" DESC\n    LIMIT 1\n),\nlatest_assets_gbp AS (\n    SELECT \"time_hr\", \"BTC\", \"ETH\", \"XRP\"\n    FROM \"assets_gbp\"\n    ORDER BY \"time_hr\" DESC\n    LIMIT 1\n)\nSELECT \n    la.\"time_hr\" AS \"assets_time_hr\",\n    lag.\"time_hr\" AS \"assets_gbp_time_hr\",\n    jsonb_build_array(\n        jsonb_build_object('symbol', 'BTC', 'amount', jsonb_build_object('raw', la.\"BTC\", 'gbp', lag.\"BTC\")),\n        jsonb_build_object('symbol', 'ETH', 'amount', jsonb_build_object('raw', la.\"ETH\", 'gbp', lag.\"ETH\")),\n        jsonb_build_object('symbol', 'XRP', 'amount', jsonb_build_object('raw', la.\"XRP\", 'gbp', lag.\"XRP\"))\n    ) AS \"assets\"\nFROM \n    latest_assets la\nCROSS JOIN \n    latest_assets_gbp lag;\n",
        "options": {}
      },
      "id": "630b2d81-0f88-4adc-a3f1-fc6ab0a815d4",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "assets",
        "options": {}
      },
      "id": "f51d61ba-ac6e-43a2-84c4-6b8a9637f090",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2220,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.spot_volitility \n  SET order_val = {{ ($input.all()[0].json.amount.gbp+$input.all()[1].json.amount.gbp+$input.all()[2].json.amount.gbp) / 12 < 300 ? (($input.all()[0].json.amount.gbp+$input.all()[1].json.amount.gbp+$input.all()[2].json.amount.gbp) / 12) / ($json.amount.gbp / $json.amount.raw) : 300 / ($json.amount.gbp / $json.amount.raw) }} \n  WHERE symbol LIKE '{{ $json.symbol }}%'",
        "options": {}
      },
      "id": "195c05b2-dd84-4db8-bca1-31e611c05522",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2400,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  from public.orders WHERE symbol = '{{$json.symbol}}'",
        "options": {}
      },
      "id": "032c0df8-a1d9-40ed-9342-37454e11ef56",
      "name": "Postgres6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3120,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b6f50f23-49d1-48ed-a7d4-9f1f0900f763",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2800,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT asset AS symbol, \"free\", \"locked\", \"rate\" FROM assets_details ORDER BY asset ASC",
        "options": {}
      },
      "id": "e7e2b39f-e46e-4834-8a12-a425518b3fbb",
      "name": "assets_detail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        -260
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"symbol\": \"ETHBTC\"\n  },\n  {\n    \"symbol\": \"XRPETH\"\n  },\n  {\n    \"symbol\": \"XRPBTC\"\n  }\n];"
      },
      "id": "ad5c49b5-4d0b-4370-a251-96d41d68aa8f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        440
      ]
    },
    {
      "parameters": {},
      "id": "a1581dac-9321-4259-9b09-a46e1ab3af86",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4100,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT price AS last_price FROM public.trades WHERE symbol ='{{ $json.symbol }}' ORDER BY time_hr DESC LIMIT 1",
        "options": {}
      },
      "id": "724b8803-389e-44b0-84a8-357fa0148e2c",
      "name": "Postgres7",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3120,
        240
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {},
      "id": "c875ae90-6d9d-4db8-91e4-2097686f1d2b",
      "name": "cancel_order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4100,
        400
      ]
    },
    {
      "parameters": {},
      "id": "38bb0fa0-e05c-4810-9d66-3e5bddd892f0",
      "name": "place new pair",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4100,
        640
      ]
    },
    {
      "parameters": {},
      "id": "48f30e27-faba-42bc-8f1b-19f77cc469b9",
      "name": "loop collector",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4300,
        880
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api.binance.com/api/v3/openOrders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol.trim() }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            },
            {
              "name": "=timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a3d46adf-85a4-4da8-8676-0a77ffcb21e6",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4600,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "3flt4vHSgwMbnIA8",
          "name": "Binance Header Auth"
        }
      }
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "=symbol={{ $json.symbol.trim() }}&timestamp={{ $json.timestamp }}",
        "secret": "OiOpVYEpwyNetbOXK85p0kPnrWneFyWk61DqOBzE19hqNtru2eQfDScmITQWaYDh"
      },
      "id": "22b0aa1b-dadb-46f1-ba54-056917cbd626",
      "name": "Crypto1",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        4460,
        400
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "c8fd336c-6d3b-407b-be52-940775ea25c5",
              "name": "symbol",
              "value": "={{ $json.symbol }}",
              "type": "string"
            },
            {
              "id": "1f6c4b46-d421-4f92-aadb-3aa0e89a7943",
              "name": "orderId",
              "value": "={{ $json.orderId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "96bfd3d7-21c2-4cba-9cbe-74f98076ad70",
      "name": "Query String1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4320,
        400
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api.binance.com/api/v3/openOrders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol.trim() }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data }}"
            },
            {
              "name": "=timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08b67e5b-543b-46cd-a0d3-0764b62ad3fb",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4600,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "3flt4vHSgwMbnIA8",
          "name": "Binance Header Auth"
        }
      }
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "=symbol={{ $json.symbol.trim() }}&timestamp={{ $json.timestamp }}",
        "secret": "OiOpVYEpwyNetbOXK85p0kPnrWneFyWk61DqOBzE19hqNtru2eQfDScmITQWaYDh"
      },
      "id": "ca55b8bf-821e-4444-b963-c385111ea4d6",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        4460,
        640
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "c8fd336c-6d3b-407b-be52-940775ea25c5",
              "name": "symbol",
              "value": "={{ $json.symbol }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fee9a661-1c84-4b7b-b564-44ed91bba09b",
      "name": "Query String",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4320,
        640
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2184ae45-5271-406c-b3e4-b5e909862b14",
              "leftValue": "={{ $json.spread_up }}",
              "rightValue": "={{ $('variables_in').all()[$itemIndex].json.spread_up }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "78a4305a-e1dc-4b14-8992-d16e39a58c16",
              "leftValue": "={{ $json.spread_down }}",
              "rightValue": "={{ $('variables_in').all()[$itemIndex].json.spread_down }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "55bf6bb4-283b-4706-82b5-879aa7a5ecbd",
              "leftValue": "={{ $json.order_val }}",
              "rightValue": "={{ $('variables_in').all()[$itemIndex].json.order_val }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "29ae58cd-f36c-41c6-8a85-e02dbe583b8c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        660
      ]
    },
    {
      "parameters": {
        "command": "=screen -S {{ $json.symbol.trim().toLowerCase() }} -X stuff \"config ask_spread {{ Number($json.spread_up)*2 }} \\015 config bid_spread {{ Number($json.spread_down)*2 }} \\015 config order_amount {{ $json.order_val }} \\015\" "
      },
      "id": "9cadda8d-39b1-478c-a891-7235e247e11f",
      "name": "ethbtc volitility refresh1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2480,
        900
      ],
      "executeOnce": false,
      "credentials": {
        "sshPassword": {
          "id": "HLlP7P64bLQy2c0D",
          "name": "SSH Password account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "userKey": "ut43h4z2qbb6yyoaecknu8899rh78y",
        "message": "={{ JSON.stringify($json) }}",
        "priority": 0,
        "additionalFields": {
          "html": true,
          "title": "=Tradebot3 Error"
        }
      },
      "id": "33d1e12f-b794-442c-a82e-d5bf95d26f79",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        2160,
        1180
      ],
      "credentials": {
        "pushoverApi": {
          "id": "qmm7O1MHQ9s5cH25",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {},
      "id": "dc16d391-4ab9-44d3-93b0-a9f7f5941a01",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2480,
        1180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pair Intact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05338493-a68d-4202-a67a-9539b42b89a3",
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Single Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ed7c8fb-62e5-4e18-af84-105ef8c7a9d0",
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Orders"
            }
          ]
        },
        "options": {}
      },
      "id": "86e3cdaa-de0c-412e-8553-0800b87d6234",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3540,
        420
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "f4cd1158-96e2-4752-aa42-4200e2df6b3b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3340,
        420
      ]
    }
  ],
  "pinData": {
    "Edit Fields3": [
      {
        "json": {
          "row_number": "ETH",
          "Trade Val": 0.12132194962018351,
          "trade_val": 0.1213
        }
      },
      {
        "json": {
          "row_number": "BTC",
          "Trade Val": 0.004883528480629692,
          "trade_val": 0.0049
        }
      },
      {
        "json": {
          "row_number": "XRP",
          "Trade Val": 661.7515665720558,
          "trade_val": 661.7516
        }
      }
    ],
    "assets_detail": [
      {
        "json": {
          "symbol": "BNB",
          "free": "0.0252",
          "locked": "0.0000",
          "rate": "506.1093"
        }
      },
      {
        "json": {
          "symbol": "BTC",
          "free": "0.0137",
          "locked": "0.0094",
          "rate": "68080.0684"
        }
      },
      {
        "json": {
          "symbol": "ETH",
          "free": "0.4849",
          "locked": "0.2509",
          "rate": "2586.7139"
        }
      },
      {
        "json": {
          "symbol": "USDT",
          "free": "288.0366",
          "locked": "9.5375",
          "rate": "0.7753"
        }
      },
      {
        "json": {
          "symbol": "XRP",
          "free": "1248.4902",
          "locked": "1127.0000",
          "rate": "0.4703"
        }
      }
    ],
    "place new pair": [
      {
        "json": {
          "last_price": "0.03817000",
          "orderId": "4168153073",
          "symbol": "ETHBTC ",
          "price": "0.03692",
          "origQty": "0.1172",
          "executedQty": "0",
          "side": "BUY",
          "time_hr": "2024-11-11T20:07:00.378Z"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-15T10:06:35.000Z",
  "versionId": "827607fe-884f-49ce-9df3-80b3a2101caf"
}