workflowsBitget Test Order.json
{
  "active": false,
  "connections": {
    "Query String": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Place Order",
            "type": "main",
            "index": 0
          },
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "get account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String1": {
      "main": [
        [
          {
            "node": "Crypto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Order Mode": {
      "main": [
        [
          {
            "node": "Query String1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place Order": {
      "main": [
        [
          {
            "node": "Query String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String2": {
      "main": [
        [
          {
            "node": "Crypto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "close order": {
      "main": [
        [
          {
            "node": "Query String2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String3": {
      "main": [
        [
          {
            "node": "Crypto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get account": {
      "main": [
        [
          {
            "node": "Query String3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-11T08:19:15.586Z",
  "id": "jKvCbI1SBCvTLlBt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bitget Test Order",
  "nodes": [
    {
      "parameters": {},
      "id": "16599907-f8a7-4cc0-984b-8ccae1163f8e",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        640,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/order/place-order",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "={{ JSON.parse('{ \"symbol\": \"'+ $json.symbol +'\", \"productType\": \"SUSDT-FUTURES\", \"marginMode\": \"isolated\", \"marginCoin\": \"SUSDT\", \"size\": \"'+ String($json.size) +'\", \"side\": \"' + $json.side + '\", \"orderType\": \"market\", \"clientOid\": \"' + $json.id + '\", \"reduceOnly\":\"NO\", \"oneWayMode\": true }') }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2343fe44-4354-4ea5-8f39-bfeb0a4b5f1e",
      "name": "Query String",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        740
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + JSON.stringify($json.body) }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "5f3452ac-2863-4484-b34c-5ca952410d45",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1760,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "0cfaea68-c532-4d04-9be8-ed3bc8a69a84",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        740
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/account/set-position-mode",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "={{ JSON.parse('{ \"productType\": \"SUSDT-FUTURES\", \"posMode\":\"one_way_mode\" }') }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9a9b6cfb-cfdd-48bd-98a7-00d75b96173f",
      "name": "Query String1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        320
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + JSON.stringify($json.body) }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "668334d1-fa3b-4f64-880a-dd10849362fc",
      "name": "Crypto1",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "242e19ce-ed7a-4a75-9b48-4df0d2615a63",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        320
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      }
    },
    {
      "parameters": {},
      "id": "28d504df-a5bc-4c89-b60a-b4fa66ce5cdb",
      "name": "Change Order Mode",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        320
      ]
    },
    {
      "parameters": {},
      "id": "436b46be-4378-4dfc-8f52-30637afabe91",
      "name": "Place Order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        740
      ]
    },
    {
      "parameters": {},
      "id": "4043c80b-0c7d-4da5-8201-2b9c824a906e",
      "name": "close order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/order/close-positions",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "={{ JSON.parse('{ \"symbol\": \"'+ $json.symbol +'\", \"productType\": \"SUSDT-FUTURES\"}') }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "41b1ba09-f110-4b44-ae28-1bb5277b4d1b",
      "name": "Query String2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        980
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + JSON.stringify($json.body) }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "96b3cb20-a1f0-413c-b719-106e3f9f23e8",
      "name": "Crypto2",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1760,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "1ea3da49-8c4d-41cb-b2a7-57d8fa24dead",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        980
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      }
    },
    {
      "parameters": {},
      "id": "62252cb1-33cf-418a-8ac7-676bdd890c26",
      "name": "get account",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/account/sub-account-assets",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "=?productType=SUSDT-FUTURES",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a5f6bf3e-e93a-4c53-86dd-7941e15e398f",
      "name": "Query String3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        500
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + $json.body }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "1397148f-668e-4017-a17b-d836e5466e8e",
      "name": "Crypto3",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1760,
        500
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "productType",
              "value": "SUSDT-FUTURES"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "8b5e1402-1803-4991-8067-7ca35847829a",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        500
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "id": "1",
          "symbol": "SETHSUSDT",
          "size": 0.01,
          "side": "buy"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2024-11-11T08:19:15.612Z",
      "updatedAt": "2024-11-11T08:19:15.612Z",
      "role": "workflow:owner",
      "workflowId": "jKvCbI1SBCvTLlBt",
      "projectId": "BhdUeMHAyfNcD7eA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-11T13:42:11.000Z",
  "versionId": "364d1058-708b-4b5e-809f-f9abf5b579a6"
}