workflowsMA Futures TradeBot.json
{
  "active": false,
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "get account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redirector": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "close order": {
      "main": [
        [
          {
            "node": "Query String4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String2": {
      "main": [
        [
          {
            "node": "Crypto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get account": {
      "main": [
        [
          {
            "node": "Query String3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String3": {
      "main": [
        [
          {
            "node": "Crypto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place Order": {
      "main": [
        [
          {
            "node": "Query String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buy_fields": {
      "main": [
        [
          {
            "node": "Place Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sell_fields": {
      "main": [
        [
          {
            "node": "Place Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pushover": {
      "main": [
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query String4": {
      "main": [
        [
          {
            "node": "Crypto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "buy_fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "close order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi overbought",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rsi overbought",
            "type": "main",
            "index": 0
          },
          {
            "node": "close order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rsi oversold",
            "type": "main",
            "index": 0
          },
          {
            "node": "close order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rsi oversold",
            "type": "main",
            "index": 0
          },
          {
            "node": "close order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "sell_fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi oversold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi oversold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi overbought",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "close order",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi oversold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsi oversold": {
      "main": [
        [
          {
            "node": "buy_fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsi overbought": {
      "main": [
        [
          {
            "node": "sell_fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Query String2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "redirector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-04T09:08:40.818Z",
  "id": "DZXDaMK2Qv2dCyGG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MA Futures TradeBot",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_bollinger_bands('{{ $json.symbol }}') LIMIT 2",
        "options": {}
      },
      "id": "c781a026-a0b3-4bf9-a6bf-00e4df49e744",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1620,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {},
      "id": "6d8de072-a4f8-48e6-a4aa-61217a05d630",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        900,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n{\n\"symbol\": \n\"BTCUSDT\"\n},\n{\n\"symbol\": \n\"ETHUSDT\"\n},\n{\n\"symbol\": \n\"XRPUSDT\"\n}\n];"
      },
      "id": "96456034-53be-4015-b95b-bc32e31bebbf",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b3611ed3-6b49-49d2-978f-196b1cf39d94",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1320,
        140
      ]
    },
    {
      "parameters": {},
      "id": "7dc88108-cf39-4167-9c25-119b503b3df7",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rsi(array_agg(price), 120) AS rsi\nFROM exchange_prices\nWHERE symbol = '{{ $json.symbol }}' AND time_hr >= now() - INTERVAL '60m';",
        "options": {}
      },
      "id": "0575c7a6-67e7-43c5-bcfb-85b589a92c69",
      "name": "Postgres7",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1620,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.config_futures",
        "options": {}
      },
      "id": "89cd5fba-30e5-4341-b111-40011966afb3",
      "name": "globals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        -60
      ],
      "credentials": {
        "postgres": {
          "id": "sxFt0uvtx3x5AcFz",
          "name": "Databot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "00b14358-eeed-4bb6-977b-6650004d4353",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1820,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d64131dc-c6fa-47bb-ba35-5f2d2de444e3",
              "name": "rsi",
              "value": "={{ $json.rsi }}",
              "type": "number"
            },
            {
              "id": "6eab440f-61a8-402e-be07-26dad8d74c91",
              "name": "symbol",
              "value": "={{ $json.symbol }}",
              "type": "string"
            },
            {
              "id": "c5c302fb-f588-4b48-b4be-5f1ea11b0df7",
              "name": "time_hr",
              "value": "={{ $json.time_hr }}",
              "type": "string"
            },
            {
              "id": "a3d3d6fa-7141-45dd-a2ce-63f73e0f1f9e",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "bec81519-b208-4321-8924-c773b58b6815",
              "name": "moving_average",
              "value": "={{ $json.moving_average }}",
              "type": "number"
            },
            {
              "id": "df565cc0-0cfe-419f-af7a-ef9c0790d25a",
              "name": "upper_band",
              "value": "={{ $json.upper_band }}",
              "type": "number"
            },
            {
              "id": "4a59e5f5-b1cd-43ef-a67d-3b16e2c9590f",
              "name": "lower_band",
              "value": "={{ $json.lower_band }}",
              "type": "number"
            },
            {
              "id": "f042e31c-3dd5-4441-aa57-07985c19ddab",
              "name": "upper_band_1_05",
              "value": "={{ $json.upper_band_1_05 }}",
              "type": "number"
            },
            {
              "id": "81ffc92c-fd14-480d-85ff-ef49e70ef40f",
              "name": "lower_band_1_05",
              "value": "={{ $json.lower_band_1_05 }}",
              "type": "number"
            },
            {
              "id": "e2941650-d971-40d4-a7e7-33988f8955de",
              "name": "upper_band_0_5025",
              "value": "={{ $json.upper_band_0_5025 }}",
              "type": "number"
            },
            {
              "id": "abb47fe7-305b-4742-8868-50f14635c6eb",
              "name": "lower_band_0_5025",
              "value": "={{ $json.lower_band_0_5025 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "5cd34df6-1c05-497f-bda4-66e0c971322b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        240
      ]
    },
    {
      "parameters": {},
      "id": "720ad5af-73c4-43c0-aaa4-b0538a9b6f7b",
      "name": "redirector",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3740,
        740
      ]
    },
    {
      "parameters": {},
      "id": "e56a85ea-6259-4405-8ed3-658827b349ea",
      "name": "close order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2540,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/order/close-positions",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "={{ JSON.parse('{ \"symbol\": \"' + $json.body.data[0].symbol + '\", \"productType\": \"SUSDT-FUTURES\"}') }}",
              "type": "object"
            },
            {
              "id": "35e8f57d-8153-4cc3-9499-efc23894a9d6",
              "name": "symbol",
              "value": "={{  $json.body.data[0].symbol }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9ea897a0-fefe-4244-8bb5-95356a4f66fa",
      "name": "Query String2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2820,
        20
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + JSON.stringify($json.body) }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "7b3b4365-aa3a-4d97-a8be-5fe0f9b88913",
      "name": "Crypto2",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2980,
        20
      ]
    },
    {
      "parameters": {},
      "id": "c236fb3b-19d1-48f1-901d-ca038a8b2caa",
      "name": "get account",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        -260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/account/sub-account-assets",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "=?productType=SUSDT-FUTURES",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1a38193e-5e1f-4c70-91dc-deaaecde58f2",
      "name": "Query String3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        -260
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + $json.body }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "e5f55ada-65d0-4094-bf21-3948677b8251",
      "name": "Crypto3",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1620,
        -260
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "productType",
              "value": "SUSDT-FUTURES"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "1aa0fbd6-a70d-47b3-bf22-be241a55ae9c",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -260
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/order/place-order",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "={{ JSON.parse('{ \"symbol\": \"'+ $json.symbol +'\", \"productType\": \"SUSDT-FUTURES\", \"marginMode\": \"isolated\", \"marginCoin\": \"SUSDT\", \"size\": \"'+ String($json.size) +'\", \"side\": \"' + $json.side + '\", \"orderType\": \"market\", \"reduceOnly\":\"NO\", \"oneWayMode\": true, \"presetStopLossPrice\": ' + $json.stopLoss + ', \"presetStopSurplusPrice\": ' + $json.takeProfit + ' }') }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d34918f8-e185-427c-b328-c33409149343",
      "name": "Query String",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        440
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + JSON.stringify($json.body) }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "50373737-e3fb-4858-9ee3-ab22c5a7dd31",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        3060,
        440
      ]
    },
    {
      "parameters": {},
      "id": "1c034ccf-f5e8-4d48-aee3-45cdcedb49c8",
      "name": "Place Order",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2820,
        440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f75de16f-b11f-4fdc-80bb-168bc8134b07",
              "name": "side",
              "value": "buy",
              "type": "string"
            },
            {
              "id": "bc8253b5-1ed1-4de0-8f3a-7687942af901",
              "name": "size",
              "value": "={{ $json.symbol == \"BTCUSDT\" ? 0.001 : $json.symbol == \"ETHUSDT\" ? 0.16 : 710}}",
              "type": "number"
            },
            {
              "id": "a8c64095-d9ab-4950-b09a-167f7bf18369",
              "name": "symbol",
              "value": "={{ $json.symbol == \"BTCUSDT\" ? \"SBTCSUSDT\" : $json.symbol == \"ETHUSDT\" ? \"SETHSUSDT\" : \"SXRPSUSDT\" }}",
              "type": "string"
            },
            {
              "id": "7797d2e7-90a4-4dc2-b6bd-8bc81c07abdf",
              "name": "stopLoss",
              "value": "={{Math.round((Number($json.price) * 0.995)*($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000))/($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000)}}",
              "type": "number"
            },
            {
              "id": "47ca3989-dc33-4386-86a7-7127ec4bd26a",
              "name": "takeProfit",
              "value": "={{Math.round((Number($json.price) * 1.025)*($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000))/($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "64714541-9cd3-464d-baa7-28a7a2a89de6",
      "name": "buy_fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f75de16f-b11f-4fdc-80bb-168bc8134b07",
              "name": "side",
              "value": "sell",
              "type": "string"
            },
            {
              "id": "bc8253b5-1ed1-4de0-8f3a-7687942af901",
              "name": "size",
              "value": "={{ $json.symbol == \"BTCUSDT\" ? 0.001 : $json.symbol == \"ETHUSDT\" ? 0.016 : 71}}",
              "type": "number"
            },
            {
              "id": "a8c64095-d9ab-4950-b09a-167f7bf18369",
              "name": "symbol",
              "value": "={{ $json.symbol == \"BTCUSDT\" ? \"SBTCSUSDT\" : $json.symbol == \"ETHUSDT\" ? \"SETHSUSDT\" : \"SXRPSUSDT\" }}",
              "type": "string"
            },
            {
              "id": "e4e6fa00-d27a-4a42-bfba-40b9b769b0cf",
              "name": "stopLoss",
              "value": "={{Math.round((Number($json.price) * 1.005)*($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000))/($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000)}}",
              "type": "number"
            },
            {
              "id": "cc2e552c-e62a-4bdb-9b9b-0015632d6880",
              "name": "takeProfit",
              "value": "={{Math.round((Number($json.price) * 0.975)*($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000))/($json.symbol == \"BTCUSDT\" ? 1 : $json.symbol == \"ETHUSDT\" ? 10 : 1000)}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "088e2a77-6707-429c-a8ce-7b42277ec3bb",
      "name": "sell_fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "50208525-defd-4363-89ab-0336f7cc2bd2",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        440
      ],
      "executeOnce": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "userKey": "ut43h4z2qbb6yyoaecknu8899rh78y",
        "message": "={{ $json.error.message }}\n________________________\n{{ JSON.stringify($json) }}",
        "priority": 0,
        "additionalFields": {
          "html": true,
          "title": "=BitGet Error"
        }
      },
      "id": "1ed56b2c-7331-4308-8793-2a6ea43552f4",
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        3360,
        20
      ],
      "credentials": {
        "pushoverApi": {
          "id": "qmm7O1MHQ9s5cH25",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78246e2b-4c5f-4885-9847-0f6ce14b6183",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "70d90f4f-8472-44e7-a2f4-2d416988964b",
              "name": "method",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "f47e6259-b78c-4225-9113-e457f18c7713",
              "name": "requestPath",
              "value": "/api/v2/mix/position/single-position",
              "type": "string"
            },
            {
              "id": "4feabfd4-a176-43c0-beb0-2dc002c8ee6c",
              "name": "body",
              "value": "={{\"?symbol=\" + ($json.symbol == \"BTCUSDT\" ? \"SBTCSUSDT\" : $json.symbol == \"ETHUSDT\" ? \"SETHSUSDT\" : \"SXRPSUSDT\") + \"&productType=SUSDT-FUTURES&marginCoin=SUSDT\" }}",
              "type": "string"
            },
            {
              "id": "35e8f57d-8153-4cc3-9499-efc23894a9d6",
              "name": "symbol",
              "value": "={{ $json.symbol == \"BTCUSDT\" ? \"SBTCSUSDT\" : $json.symbol == \"ETHUSDT\" ? \"SETHSUSDT\" : \"SXRPSUSDT\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2d6e622d-4011-467b-9559-faf7d969d462",
      "name": "Query String4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2820,
        -260
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.timestamp + $json.method.toUpperCase() + $json.requestPath + $json.body }}",
        "secret": "031d4b790ef3ff4d115c5da2196732f602ad467235cc299519810c58e62a0c41",
        "encoding": "base64"
      },
      "id": "4927cb31-9bfb-4b9a-b387-4ae81a74958c",
      "name": "Crypto4",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2980,
        -260
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d07e4e0-13c9-4456-b3f7-5b2f147130ca",
              "leftValue": "={{ $json.price }}",
              "rightValue": "={{ $json.moving_average }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d55efe7b-a736-44bd-be66-bc20ac0a1814",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all()[0].json.price >= $input.all()[0].json.upper_band && $input.all()[1].json.price < $input.all()[1].json.upper_band }}",
                    "rightValue": {},
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Upper Up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9983be0-ae41-456c-90eb-9b45f1756ee6",
                    "leftValue": "={{ $input.all()[0].json.price <= $input.all()[0].json.upper_band && $input.all()[1].json.price > $input.all()[1].json.upper_band }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Upper Down"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0697279-0654-4e2f-9e70-b3ac0e66ea18",
                    "leftValue": "={{ $input.all()[0].json.price <= $input.all()[0].json.upper_band_1_05 && $input.all()[1].json.price >= $input.all()[1].json.upper_band_1_05 && $json.rsi >= 60 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UM Down"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24ef11f3-edef-423a-9e07-5099fc338835",
                    "leftValue": "={{ $input.all()[0].json.price >= $input.all()[0].json.upper_band_1_05 && $input.all()[1].json.price <= $input.all()[1].json.upper_band_1_05}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UM Up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88d1e638-cef5-4ddf-9f32-ffe6b84410c8",
                    "leftValue": "={{ $input.all()[0].json.price >= $input.all()[0].json.moving_average && $input.all()[1].json.price <= $input.all()[1].json.moving_average}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MA Up"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": true
        }
      },
      "id": "a38b1e86-8d25-4f5d-a876-e7632718e376",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2260,
        -20
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4e2db00-d3b6-4d27-9bed-070d27fcafb5",
                    "leftValue": "={{ $input.all()[0].json.price <= $input.all()[0].json.lower_band && $input.all()[1].json.price > $input.all()[1].json.lower_band }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lower Down"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4c4cb8b-9ca5-4b9b-9579-627d8c68655a",
                    "leftValue": "={{ $input.all()[0].json.price >= $input.all()[0].json.lower_band && $input.all()[1].json.price <= $input.all()[1].json.lower_band}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lower Up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6283a803-5334-437a-8eef-611cea8fa3fe",
                    "leftValue": "={{ $input.all()[0].json.price >= $input.all()[0].json.lower_band_1_05 && $input.all()[1].json.price <= $input.all()[1].json.lower_band_1_05 && $json.rsi <= 40}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LM Up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8abd4411-9662-497b-aea8-cebaf78d7455",
                    "leftValue": "={{ $input.all()[0].json.price <= $input.all()[0].json.lower_band_1_05 && $input.all()[1].json.price > $input.all()[1].json.lower_band_1_05 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LM Down"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1c58c18-c915-48fc-b95f-e37561eeaa01",
                    "leftValue": "={{ $input.all()[0].json.price <= $input.all()[0].json.lower_band && $input.all()[1].json.price > $input.all()[1].json.lower_band }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MA Down"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": true
        }
      },
      "id": "c1f21ca5-871c-46f9-8179-a403f3509528",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2260,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6283999-a1b3-4b64-b882-2269570fe327",
              "leftValue": "={{ $json.rsi }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ceb22d23-a9c7-4bff-808e-b7cbbc24e229",
      "name": "rsi oversold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2540,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6283999-a1b3-4b64-b882-2269570fe327",
              "leftValue": "={{ $json.rsi }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c550d34d-dc23-4fdf-8b53-f481c85a3334",
      "name": "rsi overbought",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2540,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "f36d3f14-4da5-45b8-bc3a-e89847bdcd2f",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        20
      ],
      "executeOnce": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      }
    },
    {
      "parameters": {
        "method": "={{$json.method}}",
        "url": "=https://api.bitget.com{{ $json.requestPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $('Query String4').item.json.symbol }}"
            },
            {
              "name": "productType",
              "value": "SUSDT-FUTURES"
            },
            {
              "name": "marginCoin",
              "value": "SUSDT"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ACCESS-SIGN",
              "value": "={{ $json.data }}"
            },
            {
              "name": "ACCESS-TIMESTAMP",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "ACCESS-PASSPHRASE",
              "value": "Inferno123"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2e8ef704-2814-48af-a61a-8a638e106fab",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        -260
      ],
      "executeOnce": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "xPPmrpo7lNZEQD92",
          "name": "Binance ApiKey"
        },
        "httpHeaderAuth": {
          "id": "s7MYHJ2AeCAbH6Lb",
          "name": "BitGet Api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f86d387-69df-4a92-a745-8ccc9f14311d",
              "leftValue": "={{ Number($json.body.data[0].unrealizedPL) - Number($json.body.data[0].deductedFee) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "888c8928-bd25-4ec0-add2-8a929bb4fea2",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        -260
      ]
    }
  ],
  "pinData": {
    "globals": [
      {
        "json": {
          "asset_total": "344.020",
          "leverage": "200",
          "id": "1"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-15T15:27:41.000Z",
  "versionId": "bdd094b9-4adf-4f24-bb4f-bbd1ca3afd7f"
}